
#overviewinforequest{
  margin-top:50px;
  margin-bottom:50px;
}

.requestcontainer{
	border-radius:2px;
	box-shadow:4px 4px 4px 4px rgba(0,0,0,0) !important;
	-moz-box-shadow:4px 4px 4px 4px rgba(0,0,0,0) !important;
	-webkit-box-shadow:4px 4px 4px 4px rgba(0,0,0,0) !important;
	margin-bottom:50px;
}

