<div class="container" id="activitycontainer">
  <div class="weak-border-bottom topdiv">
    <h1 class="text-orange">Events</h1>
  </div>
  <div ng-cloak class="activity">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="all">
          <md-content class="md-padding">
            <table class="requesttable">
              <col width="32%">
			  <col width="17%">
              <col width="17%">
              <col width="17%">
              <col width="17%">
              <tr class="requesttr">
                <td class="tableheadline requesttd">
                  Info
                </td>
                <td class="tableheadline requesttd">
                  Reference Number
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Timestamp
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Access Granted
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Approved
                </td>
              </tr>
              <tr ng-repeat="request in customerActivityCtrl.requests" class="requesttr" ng-click="customerActivityCtrl.viewRequest(request.requestid)">
                <td class="requesttd">
                  <p class="fontbold">{{request.name}}</p>
				  <span ng-repeat="data in request.info" class="label label-info" style="margin: 2px;">{{data}}</span>
                </td>
                <td class="horizontal-center requesttd text-color">
                  <p>{{request.requestid}}</p>
                </td>
                <td class="horizontal-center requesttd text-color">
                  <p>{{request.timestamp}}</p>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingcompanyrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedcompanyrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedcompanyrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
              </tr>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="pending">
          <md-content class="md-padding">
            <table class="requesttable">
              <col width="32%">
			  <col width="17%">
              <col width="17%">
              <col width="17%">
              <col width="17%">
              <tr class="requesttr">
                <td class="tableheadline requesttd">
                  Info
                </td>
                <td class="tableheadline requesttd">
                  Reference Number
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Timestamp
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Access Granted
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Deal Approved
                </td>
              </tr>
              <tr ng-repeat="request in customerActivityCtrl.pending" class="requesttr" ng-click="customerActivityCtrl.viewRequest(request.requestid)">
                <td class="requesttd">
                  <p class="fontbold">{{request.name}}</p>
                  <span ng-repeat="data in request.info" class="label label-info" style="margin: 2px;">{{data}}</span>
                </td>
                <td class="horizontal-center requesttd text-color">
                  <p>{{request.requestid}}</p>
                </td>
                <td class="horizontal-center requesttd">
                  <p class="text-color">{{request.timestamp}}</p>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingcompanyrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedcompanyrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedcompanyrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
              </tr>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="answered">
          <md-content class="md-padding">
            <table class="requesttable">
              <col width="32%">
			  <col width="17%">
              <col width="17%">
              <col width="17%">
              <col width="17%">
              <tr class="requesttr">
                <td class="tableheadline requesttd">
                  Info
                </td>
                <td class="tableheadline requesttd">
                  Reference Number
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Timestamp
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Access Granted
                </td>
                <td class="tableheadline horizontal-center requesttd">
                  Deal Approved
                </td>
              </tr>
              <tr ng-repeat="request in customerActivityCtrl.answered" class="requesttr" ng-click="customerActivityCtrl.viewRequest(request.requestid)">
                <td class="requesttd">
                  <p class="fontbold">{{request.name}}</p>
                  <span ng-repeat="data in request.info" class="label label-info" style="margin: 2px;">{{data}}</span>
                </td>
                <td class="horizontal-center requesttd text-color">
                  <p>{{request.requestid}}</p>
                </td>
                <td class="horizontal-center requesttd">
                  <p class="text-color">{{request.timestamp}}</p>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
                <td class="horizontal-center requesttd">
                  <span ng-show="customerActivityCtrl.pendingcompanyrequest(request)" class="glyphicon glyphicon-hourglass"></span>
                  <span ng-show="customerActivityCtrl.approvedcompanyrequest(request)" class="glyphicon glyphicon-ok-circle"></span>
                  <span ng-show="customerActivityCtrl.deniedcompanyrequest(request)" class="glyphicon glyphicon-ban-circle"></span>
                </td>
              </tr>
            </table>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
<div class="absolutelookup-btn-div">
  <button class="lookup-btn" ui-sref="customerLookup">
	New Lookup
  </button>
</div>
