<div class="container bg-white">
  <div class="row" ng-if="!vm.toggleCompanyInfo">
    <h1>Pending requests</h1>
    <div class="col-sm-4" ng-repeat="request in vm.pendingRequests">
      <div class="card" ng-click="vm.getSingleRequestInfo($index)">
        <div class="card-content">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>{{request.actor.name}}</b></h4>
            </div>
            <div class="col-sm-6 text-right">
              <h4>{{request.timestamp | date:'short'}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#">View</a>
        </div>
      </div>
    </div>
    <div class="row" ng-show="vm.pendingRequests.length == 0"><h4>No pending requests! :)</h4></div>
  </div>
</div>
<div class="container bg-white">
  <div class="row" ng-if="!vm.toggleCompanyInfo">
    <h1>History</h1>
    <div id="trustSearch" class="input-group stylish-input-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    <table class="table table-striped table-responsive ">
      <thead>
      <th>Date</th>
      <th>Requester</th>
      <th>Reference number</th>
      <th>Allowed</th>
      <th>Data</th>
      </thead>
      <tbody>
      <tr ng-repeat="request in vm.historyRequests | filter:searchText | filter:{pending:false}">
        <td>{{request.timestamp | date:'short'}}</td>
        <td>{{request.actor.name}}</td>
        <td>{{request.requestid}}</td>
        <td>{{request.allow}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="company-info" ng-if="vm.toggleCompanyInfo">
    <div class="row">
      <div class="col-sm-8">
        <h1> <span class="rating">A</span> {{vm.singleShowInfo.actor.name}}</h1>
      </div>
      <div class="col-sm-3 text-right" style="padding-top:1.5em;">
        <a href="#" ng-click="vm.toggleInfo()" class="btn btn-default btn-lg">Back</a>
      </div>
    </div>
    <div class="row">
        <a href="#" ng-click="vm.showCompanyInfo()">Show more info about {{vm.singleShowInfo.actor.name}}</a>
    </div>
    <div class="row">
      <p><input type="checkbox"> Add to trusted</p>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Data requested</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{vm.singleShowInfo.timestamp}}</td>
            <td><span ng-repeat="info in vm.singleShowInfo.info" class="label label-info" style="margin: 2px;">{{info}}</span></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-4">
        <button class="btn btn-success btn-lg">Allow</button>
      </div>
      <div class="col-sm-1 col-sm-offset-1">
        <button class="btn btn-danger btn-lg">Deny</button>
      </div>
    </div>
  </div>

</div>
