<div id="page-wrapper" class="open" ng-cloak>
  <!-- Sidebar -->
  <navbar-admin-interface></navbar-admin-interface>
 <!--main content-->
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <header-admin-interface></header-admin-interface>
          <div class="meta">
            <div class="title">
              UC
            </div>
            <div class="breadcrumb-links">
              Home / User search
            </div>
          </div>
        </div>
      </div>
      <!--end header bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <label for="custom-search-input">Search by security number</label>
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input id="search-input-field" type="text" class="form-control input-lg" placeholder="YYYYMMDDXXXX" ng-model="adminUserSearchCtrl.searchText" ng-keypress="adminUserSearchCtrl.validate($event)" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button" ng-click="adminUserSearchCtrl.search()">
                                      <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-if="!adminUserSearchCtrl.showResult">
          <div ng-cloak class="activity">
            <md-content>
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Overview">
                  <md-content class="md-padding">
                    <div class="row" ng-repeat="(key, value) in adminUserSearchCtrl.overviewInfo">
                      <div class="col-xs-3">{{key}} </div>
                      <div class="col-xs-9">{{value}}</div>
                    </div>
                  </md-content>
                </md-tab>
                <md-tab label="Activity">
                  <md-content class="md-padding">
                    <p>This is the activity</p>
                  </md-content>
                </md-tab>
                <md-tab label="Check up history">
                  <md-content class="md-padding">
                    <p>This is the check up historyw</p>
                  </md-content>
                </md-tab>
                <md-tab label="Financial information">
                  <md-content class="md-padding">
                    <p>This is the check up financial</p>
                  </md-content>
                </md-tab>
                <md-tab label="Educational information">
                  <md-content class="md-padding">
                    <p>This is the check up education</p>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Latest activity</b>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                  <span ng-repeat="item in adminUserSearchCtrl.activity">
                      <li ng-class="{'list-group-item list-group-item-info': item.type == 'info',
                                     'list-group-item list-group-item-danger': item.type == 'error',
                                     'list-group-item list-group-item-warning': item.type == 'warning'} ">
                        <b>{{item.timestamp | date:'short' }}</b> {{item.info}}
                      </li>
                  </span>
              </ul>
            </div>
          </div>
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="adminUserSearchCtrl.noResult">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Ups!</strong> Couldn't find the person you were looking for, try another security number.
        </div>
      </div>
    </div>
  </div>
  <!--end main content-->

 <footer-admin-interface></footer-admin-interface>
 </div>
