<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact">
          <p class="footerheader">Support</p>
          <h3>0771-20 22 77</h3>
        </div>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="row">
      <div class="col-md-3 links">
        <p class="footerheader">Our Services</p>
        <ul>
          <li>
            <a href="/">Lookup Private Persons</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 links">
        <p class="footerheader">About UC</p>
        <ul>
          <li>
            <a href="/">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
