#footer{
  background:#212121;
  color:#fff;
  padding:50px;
}

.contact{
  padding-bottom:50px;
}

.footerheader{
  text-transform:uppercase;
  font-size:18px;
  color:#ec971f;
  font-weight:bold;
}

.divider{
  border-top:1px solid #545454;
  margin: 0 0 30px;
}

#footer ul{
  list-style-type: none;
}

#footer .links ul{
  text-align:left;
  padding:0px;
}

#footer .links ul li{
  margin:5px 0;
  text-align:left;
}

#footer ul.social li span.icon{
  width:60px;
  height:60px;
  position:absolute;
  top:0;
  left:0;
  background:#444;
  text-align:center;
  line-height:60px;
  border-radius:30px;
  font-size:24px;
  color:#fff;
}

#footer .links ul li a{
  color:#fff;
  font-size:18px;
}
