<div class="container-fluid">
  <h1 style="text-align:center;">Lookup cards</h1>
  <hr />
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      <div class="col-sm-3" ng-repeat="lookup in customerLookupSettingsCtrl.lookups">
        <div class="lookupmodule">
          <div class="row">
            <h3 class="text-orange">{{lookup.name}}</h3>
            <hr />
          </div>
          <div class="row">
            <p class="text-color">{{lookup.description}}</p>
          </div>
          <div class="row weak-border-top weak-border-bottom">
            <p class="text-orange" ng-repeat="info in lookup.info"><strong>{{info.name}}</strong></p>
          </div>
          <div class="row">
            <div class="checkbox col-sm-10 col-sm-offset-1">
              <label style="font-size: 1em">
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  UC validates data
              </label>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="row pricebox">
            <p class="inlineblock text-orange"><strong>{{customerLookupSettingsCtrl.getPrice(lookup)}} SEK</strong></p>
            <p class="inlineblock text-color font-light"> per request</p>
          </div>
          <div class="row">
            <a ng-click="customerLookupSettingsCtrl.deleteModule(lookup)" class="btn pull-right">
              <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div class="col-sm-2 settingsbox">
      <form class="form" name="editform">
        <div class="row">
          <h2 class="text-orange">Add new card</h2>
          <hr />
        </div>
        <div class="row">
          <div class="form-group">
            <input type="text" name="editingname" class="form-control" placeholder='Name' placeholder='{{customerLookupSettingsCtrl.modulename}}' ng-model="customerLookupSettingsCtrl.name" required>
          </div>
        </div>
        <div class="row">
          <textarea class="form-control" ng-model="customerLookupSettingsCtrl.description" placeholder="{{customerLookupSettingsCtrl.descriptionplaceholder}}" style="max-width:100%; max-height: 15em;">
          </textarea>
        </div>
        <div class="row">
          <h4 class="text-orange">Chosen Data</h4>
        </div>
        <div class="row">
          <p class="text-color" ng-if="customerLookupSettingsCtrl.emptyData()">None</p>
          <p class="text-color" ng-repeat="data in customerLookupSettingsCtrl.chosendata">{{data.name}}</p>
        </div>
        <div class="row weak-border-top">
          <h4 class="text-orange">Calculated Price</h4>
        </div>
        <div class="row">
          <p class="text-color">{{customerLookupSettingsCtrl.calculatePrice(customerLookupSettingsCtrl.chosendata)}} SEK</p>
        </div>
        <div class="form-group weak-border-top">
          <div class="row">
            <h4 class="text-orange">Data to request</h4>
          </div>
          <div class="row dataselect">
            <isteven-multi-select
              input-model="customerLookupSettingsCtrl.datatypes"
              output-model="customerLookupSettingsCtrl.chosendata"
              button-label="name"
              item-label="name"
              tick-property="ticked"
              group-property="msGroup">
            </isteven-multi-select>
            <!--<select chosen multiple class='form-control' data-placeholder-text-multiple="'Choose required data'" ng-model="chosenData" ng-options="data.name for data in customerLookupSettingsCtrl.datatypes" ng-change="customerLookupSettingsCtrl.updateData(chosenData)" >
              </select>-->
          </div>
        </div>
        <div class="row checkbox">
          <label style="font-size: 1.5em">
              <input type="checkbox">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              UC validates data
          </label>
        </div>
        <button class="row btn btn-warning btn-md btn-block" ng-click="customerLookupSettingsCtrl.addModule()" style="margin-top: 1em; margin-bottom: 15px;">
          Add card
        </button>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
