<div class="container-fluid permissionSettingsContainer">
  <div class="row">


    <div class="col-sm-6 col-sm-offset-1 permissionSettingsCol">
      <h1>Permission settings</h1>
      <hr />
      <table class="table table-responsive table-bordered">
        <thead>
          <th></th>
          <td class="allow-all">
            <label><h3>Allow all</h3></label><br />
            <div class="btn-group" data-toggle="buttons">
              <label class="btn">
                <input id="allow-all-toggle" type="radio" name="all_data"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
              </label>
            </div>
          </td>
          <td class="allow-trusted">
            <label><h3>Allow trusted</h3></label><br />
            <div class="btn-group" data-toggle="buttons">
              <label class="btn">
                <input id="allow-trusted-toggle" type="radio" name="all_data"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
              </label>
            </div>
          </td>
          <td class="always-ask">
            <label><h3>Always ask</h3></label><br />
            <div class="btn-group" data-toggle="buttons">
              <label class="btn">
                <input id="always-ask-toggle" type="radio" name="all_data"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
              </label>
            </div>
          </td>
        </thead>
        <tbody>
          <tr ng-repeat="info in vm.infoTypes">
            <th><label>{{info.category}}</label></th>
            <td class="allow-all">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn">
                  <input type="radio" name="{{info.category}}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                </label>
              </div>
            </td>
            <td class="allow-trusted">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn">
                  <input type="radio" name="{{info.category}}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                </label>
              </div>
            </td>
            <td class="always-ask">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn">
                  <input type="radio" name="{{info.category}}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-warning btn-lg pull-right">Save</a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
          <i class="center-block fa fa-question-circle-o fa-3x" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-5"></div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <p style="text-align: left;"><strong>Allow all</strong> - Everyone who asks for the data from you will receive it automatically.</p>
            </li>
            <li class="list-group-item list-group-item-warning">
              <p style="text-align: left;"><strong>Allow trusted</strong> - Everyone on your list of trusted companies will receive the data automatically. You manage each case from non-trusted companies manually.</p>
            </li>
            <li class="list-group-item list-group-item-danger">
              <p style="text-align: left;"><strong>Always ask</strong> - You manage each request of the data manually, no one receives it automatically.</p>
            </li>
          </ul>
        </div>
      </div>
  	</div>


    <div class="col-sm-3 col-sm-offset-1 permissionSettingsCol">
      <h2>Trusted</h2>
      <hr />
      <table class="table table-striped table-sm table-responsive ">
        <tbody>
          <tr ng-repeat="actor in vm.trustedList">
            <td><p class="tableText" style="text-align: left; font-weight: bold;">{{actor}}</p></td>
            <td>
                <a class="btn"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <input id="search-actor" class="awesomplete"/>


      <a class="btn btn-block btn-warning" ng-click="vm.addToTrusted()">Add</a>

    </div>


    <div class="col-sm-1"></div>
  </div>
</div>
