#trustSearch {
  margin-bottom: 1em;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.permissionSettingsContainer {
    text-align: center;
    background-color: #999999;
    padding-bottom: 5em;
    padding-top: 2em;
}

.permissionSettingsCol {
    background-color: #eff0f2;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 10px;
}

thead {
    label input[type="radio"] ~ i.fa.fa-circle-o{
      color: #515151;    display: inline;
    }
    label input[type="radio"] ~ i.fa.fa-dot-circle-o{
      display: none;
    }
    label input[type="radio"]:checked ~ i.fa.fa-circle-o{
      display: none;
    }
    label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
      color: #515151;    display: inline;
    }
}

label input[type="radio"] ~ i.fa.fa-circle-o{
  color: #ec971f;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
  display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
  display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
  color: #ec971f;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
  color: #515151;
}
