<div id="page-wrapper" class="open" ng-cloak>
  <!-- Sidebar -->
  <navbar-admin-interface></navbar-admin-interface>
    <!--main content-->
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <header-admin-interface></header-admin-interface>
                    <div class="meta">
                        <div class="title">
                            UC
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <!--end header bar-->

            <!--dashboard content-->
            <div class="page">
                <div class="row">
                    <div class="col-md-12">

                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Important!</strong> Log out before you leave your sit.
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-tasks"></i> Latest Updates
                                <a href="#" class="pull-right">Manage</a>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Personal Number <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                    <th>Provider <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                    <th>Time <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                    <th>Validation <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                    <th>Self upload <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                    <th>Status <div class="table-group-btn-wrap"><a class="glyphicon glyphicon-triangle-top table-group-btn"></a><a class="glyphicon glyphicon-triangle-bottom table-group-btn"></a></div></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="data in adminDashboardCtrl.datas" >
                                    <td>{{data.personid}}</td>
                                    <td>{{data.provider}}</td>
                                    <td>{{data.timestamp}}</td>
                                    <td>{{data.validation}}</td>
                                    <td>{{data.selfupload}}</td>
                                    <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--numerical page-->
                            <!--<div class="panel-footer">-->
                                <!--<div class="text-right">-->
                                    <!--<ul class="pagination pagination-sm list-unstyled">-->
                                        <!--<li><a href="#">&laquo;</a></li>-->
                                        <!--<li><a href="#">1</a></li>-->
                                        <!--<li><a href="#">2</a></li>-->
                                        <!--<li><a href="#">3</a></li>-->
                                        <!--<li><a href="#">4</a></li>-->
                                        <!--<li><a href="#">5</a></li>-->
                                        <!--<li><a href="#">&raquo;</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--end of numerical page-->
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-tasks"></i> Latest Checkups
                                <a href="#" class="pull-right">Manage</a>
                            </div>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Personal Number</td>
                                    <td>Requester</td>
                                    <td>Time</td>
                                    <td>Allowed</td>
                                    <td>Data</td>
                                </tr>
                                <tr ng-repeat="data in adminDashboardCtrl.checkdatas" >
                                    <td>{{data.personid}}</td>
                                    <td>{{data.requester}}</td>
                                    <td>{{data.timestamp}}</td>
                                    <td>{{data.allowed}}</td>
                                    <td><a href="#>">{{data.data}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end dashboard content-->

        </div>
    </div>
    <!--end main content-->
</div>
