.settingsContainer {
    padding-bottom: 5em;
    padding-top: 2em;
}

.settingsBox {
    background-color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
}
